
ul li:nth-of-type(even) {
	color: green;
}

ul li:nth-of-type(3) {
	background-color: blue;
}

ul li:first-of-type {
	border-top: 1px solid green;
}

ul li:last-of-type {
	border-bottom: 5px dotted blue;
}

ul > li:nth-of-type(odd) > a {
	color: red;
}

ul li:first-of-type > a {
	color: blue;
}

ul li:last-of-type > a {
	color: blue;
}

ul li:nth-of-type(5) > a:hover {
	color: gray;
}
li:nth-child(3n+2) {
	list-style-type: none;
}
input[type="text"]:focus {
	background: gray;
}
div:first-of-type > input:focus {
	color: green;
}
div:nth-of-type(2) > input:focus {
	color: blue;
}
input[type="password"]:focus {
	color: white;
}

input[type="email"]::-moz-selection {
	background-color: yellow;
	color: purple;
}
input[type="email"]::selection {
	background-color: yellow;
	color: purple;
}
div:last-of-type > input:hover {
	color: red;
}